@model IEnumerable<CartArticleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@{
    var sum = 0D;
}
@{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Article.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Article.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Article.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Article.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                sum += item.Quantity * item.Article.Price;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Article.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Article.Price)
                    </td>
                    <td>
                        <img src="~/@item.Article.Image" alt="@item.Article.Image" heigth="100" width="100">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Article.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        Suma: @sum
    </p>
    <p>Zamawiąjący: </p>
    <p>@ViewData["fullName"]</p>

    <p>Adres dostawy:</p>
    <p>Ulica: @ViewData["street"]</p>
    <p>Kod pocztowy: @ViewData["postalCode"]</p>
    <p>Miasto: @ViewData["city"]</p>


    <p>Telefon: @ViewData["phoneNumber"]</p>

    <p>Sposób dostawy: @ViewData["deliveryOptions"]</p>

    <p>Sposób płatności: @ViewData["paymentOptions"]</p>
}
